<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Job Portal
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">

    <!-- ================= NAVBAR ================= -->
    {% include 'includes/header.html' %}

        

    {% if messages %}
    <script>
        {% for message in messages %}
        Swal.fire({
            title: "{% if message.tags == 'success' %}Success!{% elif message.tags == 'error' %}Error!{% elif message.tags == 'warning' %}Warning!{% else %}Info{% endif %}",
            text: "{{ message|escapejs }}",
            icon: "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% elif message.tags == 'warning' %}warning{% else %}info{% endif %}",
            confirmButtonText: "OK"
        });
        {% endfor %}
    </script>
    {% endif %}

    <!-- ================= CONTENT ================= -->
    <main class="flex-grow container mx-auto px-4 py-8">
        {% block content %}
        {% endblock %}
    </main>

    <!-- ================= FOOTER ================= -->
    {% include 'includes/footer.html' %}

</body>

</html>