{% extends 'base.html' %}



{% block title %}
Update Job - Job Portal
{% endblock %}



{% block content %}

<div class="max-w-2xl mx-auto mt-10 bg-white p-8 rounded-lg shadow">

    <h2 class="text-2xl font-bold mb-6 text-gray-800">
        Update Job
    </h2>

    <form method="POST" enctype="multipart/form-data" class="space-y-5">
        {% csrf_token %}

        <!-- Job Title -->
        <div>
            <label class="block text-gray-700 font-medium mb-2">
                Job Title
            </label>
            <input type="text" name="title" value="{{ job.job_title }}"
                class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="Enter job title">
        </div>

        <!-- Company Name -->
        <div>
            <label class="block text-gray-700 font-medium mb-2">
                Company Name
            </label>
            <input type="text" name="company_name" value="{{ job.company_name }}"
                class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="Enter company name">
        </div>

        <!-- Company Logo -->
        <div>
            
            {% if job.company_logo %}
            
            <p>Old Company Logo</p>
            <img src="{{ job.company_logo.url }}" alt="Company Logo" class="w-[100px]">
                
            {% endif %}
                
            <label class="block text-gray-700 font-medium mb-2">
                Company Logo
            </label>
            <input type="file" name="logo" class="w-full border border-gray-300 rounded-lg px-4 py-2 bg-white">
        </div>

        <!-- Number of Openings -->
        <div>
            <label class="block text-gray-700 font-medium mb-2">
                Number of Openings
            </label>
            <input type="number" name="openings" value="{{ job.vacancy }}"
                class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="Enter number of openings">
        </div>

        <!-- Category -->
        <div>
            <label class="block text-gray-700 font-medium mb-2">
                Category
            </label>
            <select name="category"
                class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <option value="">Select Category</option>
                <option value="Part Time" 
                
                {% if job.category == 'Part Time' %}
                    selected
                {% endif %}
                    >Part Time</option>
                <option value="Full Time" 
                {% if job.category == 'Full Time' %}
                    selected
                {% endif %}
                    >Full Time</option>
            </select>
        </div>

        <!-- Description -->
        <div>
            <label class="block text-gray-700 font-medium mb-2">
                Description
            </label>
            <textarea name="description" rows="4"
                class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="Enter job description">{{ job.description }}</textarea>
        </div>

        <!-- Skills -->
        <div>
            <label class="block text-gray-700 font-medium mb-2">
                Skills
            </label>
            <input type="text" name="skills" value="{{ job.skills }}"
                class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="e.g. HTML, CSS, Django">
        </div>

        <!-- Submit Button -->
        <div>
            <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition">
                Submit Job
            </button>
        </div>

    </form>

</div>


{% endblock %}